.projects-page {
  display: flex;
  flex-direction: column;
  gap: var(--s4);

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s4);

    & .node-interactive {
      width: 100%;
    }

    @media (min-width: 769px) {
      & .node-interactive {
        width: calc(50% - (var(--s4) / 2));

        min-width: 280px;
      }
    }
  }
}
