.projects-page {
  display: flex;
  flex-direction: column;
  gap: var(--s4);

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: var(--s4);

    & .node-interactive {
      flex: 1;
      width: 100%;
    }

    @media (min-width: 769px) {
      flex-direction: unset;
      flex-wrap: wrap;

      & .node-interactive {
        min-width: 280px;
      }
    }
  }
}
