.home-page {
  display: flex;
  flex-direction: column;
  gap: var(--s4);

  & .stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s4);

    & .node-static {
      min-width: 40%;
    }
  }

  & .production-container {
    display: flex;
    gap: var(--s4);
  }

  @media (max-width: 768px) {
    & .stack-container {
      display: flex;
      flex-direction: column;

      & .node-static {
        min-width: 100%;
      }
    }

    & .production-container {
      display: flex;
      flex-direction: column;

      & .node-interactive {
        min-width: 100%;
      }
    }
  }
}
