.studies-section {
  width: 100%;

  @media (min-width: 769px) {
    & .subject-page {
      & > div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: var(--s3);

        width: 100%;
      }

      & .node-studie {
        max-width: 100%;
        max-width: none;
      }
    }
  }
}
