#root {
  display: flex;
  justify-content: center;
  width: 100%;

  z-index: 2;
}

.main-container {
  display: flex;
  justify-content: center;
  flex: 1;

  width: 100%;

  & > section {
    display: flex;
    flex-direction: column;
    gap: var(--s4);

    width: 100%;
    max-width: 1000px;
    padding: var(--s4);
  }
}

.divider {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  color: var(--text-muted);
  font-size: var(--text-small);

  &::before {
    content: " ";
    flex: 1;
    border-bottom: 1px dashed var(--text-muted);
  }
}

.palette-container button:hover {
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

.palette-container button.btn-active {
  border-color: var(--color-secondary);

  color: var(--color-primary) !important;
  text-shadow: 0 0 8px var(--color-primary);
}
