.topics-page {
  display: flex;
  flex-direction: column;
  gap: var(--s3);

  & button {
    width: 24px;

    color: var(--color-primary);
  }

  & div {
    display: flex;
    align-items: center;
    gap: var(--s3);

    & button {
      width: 24px;
      height: 24px;
      color: var(--color-primary);
    }

    & span {
      color: var(--color-primary);
      font-size: var(--text-display);
    }
  }
}
