.node-static {
  display: flex;
  flex-direction: column;
  gap: var(--s1);
  flex: 1;

  padding: var(--s2) 0;

  border-bottom: 1px dashed var(--color-primary-shadow);

  & span {
    color: var(--text-muted);
    font-size: var(--text-small);
  }

  & h2 {
    color: var(--color-primary);
    font-size: var(--text-h3);
    text-transform: uppercase;
  }

  & p {
    color: var(--text-secondary);
    font-size: var(--text-small);
    line-height: var(--s4);
  }
}
